@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>NILE</h1>
        <p><span style="color: darkred">Mohammed Rayed</span></p>
        <p><strong>Lab 5</strong></p>
        <p><em>ITSE 1430</em></p>
    </div>

